<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name List</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1>Name list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>rounds</th>
                <th>winners</th>
                <th>prizes</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="rounds : ${rounds}">
                <td th:text="${rounds.roundId}"></td>
                <td th:text="${rounds.winner}"></td>
                <!--<td th:text="${rounds.winner}"></td>-->
            </tr>
        </tbody>
    </table>
</body>
</html>