html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('img/bg.png');
  background-size: cover;
}

.container {
  text-align: center;
}

.wrapper {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper img {
  margin-bottom: 20px; /* Adjust the space between the image and the button */
}

.wrapper .btn {
  width: 100px;
  height: 40px;
  background: gray;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
